/* ~~~~~~~~~~~~~~~~~~~~ GENERAL SETUP ~~~~~~~~~~~~~~~~~~~~ */
a, body, div, footer, h1, h2, header,
html, img, li, main, ol, p, ul {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    margin: 0 auto;
}

footer, header, main {
    display: block;
}

/* ~~~~~~~~~~~~~~~~~~ GENERAL TYPOGRAFY ~~~~~~~~~~~~~~~~~~ */
html {
    color: black;
}

body {
    line-height: 1.5;
    font-family: cursive;
}

h1 {
    font-size: 72pt;
    line-height: 72px;
}

h2 {
    font-size: 22pt;
}

p {
    margin-bottom: 24px;
}

a {
    text-decoration: none;
}

a:active, a:focus, a:hover {
    text-decoration: underline;
}

ol, ul {
    list-style-type: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~~~~ */
#main-header {
    background-color: white;
    display: flex;
    margin: 15px 0px 0px 0px;
    padding: 15px;
}

.header-logo {
    height: 80px;
    width: 280px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~ MAIN ~~~~~~~~~~~~~~~~~~~~~~~~~ */
#main-container {
    width: 1400px;
    margin: auto;
}

.document-tittle {
    margin-top: 30px;
}

.feature-containers{
    display: flex;
    margin: 5px auto;
}

.container-content {
    background-image: url("../../images/image-html-page.png");
    height: 180px;
    width: 330px;
}

.feature-containers li {
    padding: 10px;
}

.container-bar {
    background-color: rgba(235, 90, 37, 255);
    height: 5px;
}

.bar-smaller {
    margin: 5px 0px;
    width: 350px;
}

.bar-biggester {
    width: 1400px;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~~~~~~~ */
#footer {
    background-color: black;
    padding-bottom: 24px;
    padding-top: 24px;
}

.footer-content {
    display: flex;
    margin: auto;
    width: 1400px;
}

.footer-logo {
    height: 80px;
    width: 280px;
    padding-right: 30px;
}

.footer-content-info {
    flex: 1;
}

.footer-content-info p, .social-links p {
    color: white;
    font-size: 12pt;
    font-weight: normal;
}

.social-links p {
    display: inline;
}

.social-links a:hover {
    color: white;
}