/* General setup */

html, body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    background-color: rgba(253, 159, 2, 255);
    margin: 0 auto;
}

/* typografy */

h1, h2, h3, p {
    color: #2a2a2a;
    font-family: cursive;
}

h1 {
    color: black;
    font-size: 32pt;
    text-align: center;
}

h2 {
    font-size: 3rem;
}

article h2, article p{
    padding-left: 2rem; 
}

h3 {
    font-size: 2rem;
}

article h3 {
    text-align: center;
}

p, li {
    font-size: 1.6rem;
    line-height: 1.5;
}

a{
    text-decoration: none;
    display: block;
    color: black;
}

article ul {
    text-align: center;
}

li:hover, a:hover {
    color:red;
}

article a:hover {
    border: 5px solid red;
}

/* header layout */

#header-home-page {
    background-color: rgba(234, 234, 234, 112);
    margin: 10px 0px 0px 0px;
    padding: 5px;
}

#header-home-page .logo {
    height: 113px;  /* height of logo-with-name.png */
    width: 397px;   /* width of logo-with-name.png  */
}

/* main layout */

#home-container {
    display: block;
    min-height: 800px;
}

#home-container .document-title {
    background-color: rgba(244, 191, 103, 255);
}

#home-container .feature-containers {
    display: flex;
    list-style-type: none;
    margin: auto;
    padding: 0;
    width: 1400px;
}

#home-container .feature-containers li {
    list-style-type: none;
}

#home-container .feature-containers .container-title, #home-container .feature-containers .container-content {
    background-color: rgba(88, 55, 1, 255);
    height: 105px;
    margin: 0px 8.3px;
    width: 450px;
}

#home-container .feature-containers .container-title h2 {
    color: white;
    font-size: 28pt;
    padding: 25.52875px;
    text-align: center;
}
#home-container .feature-containers .container-content {
    background-color: rgba(242, 201, 132, 255);
    min-height: 250px;
}

#home-container .feature-containers .container-content .contents {
    display: flex;
    padding: 0;
}

#home-container .feature-containers .container-content .contents li {
    margin: 5px auto;
}

img {
    margin: 0;
    padding: 0;
}


aside {
    flex: 1;
}

article {
    flex: 9;
    margin-left: 2px; 
}

aside, article {
    padding: 1%;
    border: 2px solid #c7c7c7;
    background-color: #ffffff;
}

article ul {
    display: flex;
    list-style-type: none;
	margin: 2px 100px;
    padding:0px;
}

article li {
    flex: 100%;
    display: flex;
}

article a{
    flex: 1;
    border: 5px solid black;
    margin: 1px;
    padding: 30% 0%;
}

/* footer layout */

footer {
    padding: 0% 1%;
    border: 2px solid #c7c7c7;
    background-color: #ffffff;
    margin: 2px 0px;
}