/* General setup */

html, body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    background-color: #f9f9f9;
}

body {
    width: 1300px;
    margin: 0 auto;
}

/* typografy */

h1, h2, h3, p {
    font-family: cursive;
    color: #2a2a2a;
}

h1 {
    font-size: 4rem;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 5px red;
}

h2 {
    font-size: 3rem;
}

article h2, article p{
    padding-left: 2rem; 
}

h3 {
    font-size: 2rem;
}

article h3 {
    text-align: center;
}

p, li {
    font-size: 1.6rem;
    line-height: 1.5;
}

a{
    text-decoration: none;
    display: block;
    color: black;
}

article ul {
    text-align: center;
}

li:hover, a:hover {
    color:red;
}

article a:hover {
    border: 5px solid red;
}

/* header layout */

header {
    background-color: black;
    border: 2px solid black;
    margin: 10px 0px 2px 0px;
}

/* main layout */

main {
    display: flex;
}

aside {
    flex: 1;
}

article {
    flex: 9;
    margin-left: 2px; 
}

aside, article {
    padding: 1%;
    border: 2px solid #c7c7c7;
    background-color: #ffffff;
}

article ul {
    display: flex;
    list-style-type: none;
	margin: 2px 100px;
    padding:0px;
}

article li {
    flex: 100%;
    display: flex;
}

article a{
    flex: 1;
    border: 5px solid black;
    margin: 1px;
    padding: 30% 0%;
}

/* footer layout */

footer {
    padding: 0% 1%;
    border: 2px solid #c7c7c7;
    background-color: #ffffff;
    margin: 2px 0px;
}